# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh/Vite build output
_fresh/
vite.config.ts.timestamp-*.mjs
# npm + other dependencies
node_modules/
vendor/

